<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTICIAS | POLITICA</title>
</head>
<body>
    <H1>NOTICIAS SOBRE POLITICA Y RELACIONADOS</H1>
    <section>
        <h3>POLITICA 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos pariatur officiis recusandae mollitia. Dolorum quos dignissimos maiores minima voluptate veritatis ea distinctio! Quaerat, cumque nisi eos alias maxime quidem nesciunt!</p>
    </section>
    <section>
        <h3>POLITICA 2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos pariatur officiis recusandae mollitia. Dolorum quos dignissimos maiores minima voluptate veritatis ea distinctio! Quaerat, cumque nisi eos alias maxime quidem nesciunt!</p>
    </section>
    <section>
        <h3>POLITICA 3</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos pariatur officiis recusandae mollitia. Dolorum quos dignissimos maiores minima voluptate veritatis ea distinctio! Quaerat, cumque nisi eos alias maxime quidem nesciunt!</p>
    </section>
</body>
</html>