% extends "base.html" %}

{% block title %}Eliminar Evento{% endblock %}

{% block content %}
    <h1 class="text-4xl font-bold text-center my-8 text-red-600">¿Estás seguro de que quieres eliminar este evento?</h1>
    <div class="max-w-xl mx-auto p-6 bg-white rounded-xl shadow-lg">
        <hr class="my-4">
        <p class="text-lg font-semibold text-gray-800">ID: <small class="text-gray-600">{{ evento.pk }}</small></p>
        <p class="text-lg font-semibold text-gray-800">TÍTULO: <small class="text-gray-600">{{ evento.titulo }}</small></p>
        <p class="text-lg font-semibold text-gray-800">FECHA: <small class="text-gray-600">{{ evento.fecha|date:"d F, Y" }}</small></p>
        <hr class="my-4">

        <form method="post">
            {% csrf_token %}
            <div class="flex justify-between mt-6">
                <button type="submit" class="bg-red-500 text-white px-6 py-2 rounded-full hover:bg-red-600 transition-colors duration-300">Sí, eliminar</button>
                <a href="{% url 'eventos:detalle_evento' evento.pk %}" class="bg-gray-400 text-white px-6 py-2 rounded-full hover:bg-gray-500 transition-colors duration-300">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock %}
