{% extends "base.html" %}

{% block title %}Lista de Eventos{% endblock %}

{% block content %}
    <hr>
    <h1>TODOS LOS EVENTOS</h1>
    <hr>

    <div style="margin-top: 20px; margin-bottom: 20px;">
        <a href="{% url 'eventos:lista_eventos' %}" style="margin-right: 15px;">Todas las categorías</a>
        {% for categoria in categorias %}
            <a href="{% url 'eventos:lista_eventos' %}?categoria={{categoria.nombre}}" style="margin-right: 15px;">{{ categoria.nombre }}</a>
        {% endfor %}
    </div>

    <div style="margin-bottom: 20px;">
        <a href="{% url 'eventos:crear_evento' %}" style="padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Crear Evento</a>
    </div>

    {% for evento in eventos %}
        <hr>
        <h2>{{ evento.title }}</h2>
        <p><strong>Fecha:</strong> {{ evento.date|date:"d F, Y H:i" }} | Organizado por: {{ evento.organizer.username }}</p>
        <p>{{ evento.description|truncatechars:150 }}</p>

        <a href="{% url 'eventos:detalle_evento' evento.date.year evento.date.month evento.date.day evento.slug %}">VER MÁS</a>
    {% endfor %}
{% endblock %}