{% extends "base.html" %}

{% block title %}Todas las Noticias{% endblock %}

{% block content %}
    <hr>
    <h1>TODAS LAS NOTICIAS</h1>
    <hr>
    <div style="margin-bottom: 20px;">
        <a href="{% url 'noticias:crear_noticia' %}" style="padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Crear Noticia</a>
    </div>

    {% if noticias %}
        {% for noticia in noticias %}
            <hr>
            <h2>{{ noticia.titulo }}</h2>
            <p>{{ noticia.subtitulo }}</p>
            <p><strong>Autor:</strong> {{ noticia.autor.username }} | <strong>Publicado:</strong> {{ noticia.fecha_publicacion|date:"d F, Y" }}</p>

            <a href="{% url 'noticias:detalle_noticia' noticia.pk %}">LEER MÁS</a>
        {% endfor %}
    {% else %}
        <p>No hay noticias disponibles.</p>
    {% endif %}
{% endblock %}
