<!-- templates/inicio.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Blog de Noticias</title>
</head>
<body>
    <h1>Bienvenido al blog de noticias</h1>
    <p>Acá verás las últimas novedades.</p>
    {% if user.is_authenticated %}
    <p>Hola, {{ user.username }} | <a href="{% url 'logout' %}">Cerrar sesión</a></p>
    {% else %}
        <a href="{% url 'login' %}">Iniciar sesión</a> | <a href="{% url 'registro' %}">Registrarse</a>
    {% endif %}

</body>
</html>
